{% extends "base.html" %} {% load static %} {% load i18n %} {% block title %}{% trans "Signup" %}{% endblock %} {% block inicio %}

<section style="background-image: url({% static 'img/landscape.jpg' %})">
    <div class="info-signup">
        <h2>{% trans "Sign Up" %}</h2>

        


        <div class="form-login" style="padding: 0 25px 0 25px;">
            <form class="ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                <button class="ui positive basic  button" type="submit">{% trans "Sign Up" %} &raquo;</button>
                <a href="{% url 'home' %}" class="ui secondary basic button" type="submit">Voltar</a>
            </form>
        </div>
        <div class="aviso">
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        </div>
    </div>
    


</section>

{% endblock %}