{% extends 'base.html' %} {% load static %} {% block title %} home {% endblock title %} {% block stylesheet %} {% endblock stylesheet %} {% block inicio %}

<section class="pt--100" style="background: linear-gradient(#2b1055, #7597de);">

    <img src="{% static 'img/landscape.jpg' %}" alt="" id="stars">
    <img src="{% static 'img/sunbeam.jpg' %}" alt="" id="stars">
</section>

{% endblock inicio %} {% block scripts %}
<script>
    let moon = document.getElementById("moon");
    let text = document.getElementById("text");
    let stars = document.getElementById("stars");
    let mback = document.getElementById("mback");
    let mfront = document.getElementById("mfront");

    window.addEventListener("scroll", function() {
        let value = window.scrollY;
        stars.style.left = value * 0.3 + 'px';

    })
</script>
{% endblock scripts %}