{% extends 'base.html' %} {% load static %} {% block title %} home {% endblock title %} {% block stylesheet %} {% endblock stylesheet %} {% block inicio %}

<section style="background-image: url({% static 'img/landscape.jpg' %})">
    <div class="info">
        <h2>Invade some Timelines</h2>
        <div class="buttons">
            <a href="{% url 'account_login' %}"><button class="ui labeled icon button teal">
                <i class="sign in alternate icon"></i>
                Log In
            </button></a>
            <div class="ui horizontal divider">
                Or
            </div>
            <a href="{% url 'account_signup' %}"><button class="ui labeled icon button grey">
                <i class="user plus icon"></i>
                Sign Up
            </button></a>
        </div>
    </div>
    


</section>

{% endblock inicio %} {% block scripts %} {% endblock scripts %}