<div class="ui inverted menu nav mb-7 fixed top sticky" style="background-color: #6C63FF !important;">
    <div class="ui container">
        {% if request.user.is_authenticated %}
        <a href="{% url 'posts:main-post-view' %}" class="item">
            <h3>Timelines</h3>
        </a>
        {% else %}
        <a href="{% url 'home' %}" class="item">
            <h3>Timelines</h3>
        </a>
        {% endif %}


        <div class="right menu">
            {% if request.user.is_authenticated %}
            <div class="item">
                <div class="ui floating dropdown icon button teal"> Social
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{% url 'perfil:all-profiles-view' %}" class="item">
                                Profiles
                            </a>
                        <a href="{% url 'perfil:invite-profiles-view' %}" class="item">
                                Reach New People
                            </a>
                        <a href="{% url 'perfil:my-invites-view' %}" class="item">
                                Received Invites &nbsp; <div class="ui purple horizontal label">{{invites_num}}</div>
                            </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <form action="{% url 'perfil:profile-search' %}" method="POST">
                    {% csrf_token %}
                    <div class="ui action left icon input">
                        <input class="prompt" type="text" name='searched_name' placeholder="Find someone">
                        <i class="search icon"></i>
                        <button type='submit' class="ui button">Search</button>
                    </div>
                </form>
            </div>

            <div class="item ui floating dropdown">
                <img src={{picture.url}} class='ui avatar image'>{{ request.user }}<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href={% url 'perfil:my-profile-view' %}>
                        <i class="user circle outline icon"></i> My profile
                    </a>
                    <a class="item">
                        <i class="users icon"></i> Friend List
                    </a>
                    <a class="item">
                        <i class="moon icon"></i> Dark Mode
                    </a>
                    <a id="logout-btn" class="item" href="{% url 'account_logout' %}">
                        <i class="power off icon"></i> Log Out
                    </a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'account_login' %}" class="ui item">
                Login
            </a>
            <a href="{% url 'account_signup' %}" class="ui item">
                Sign Up
            </a>
            {% endif %}
        </div>
    </div>
</div>

<script>
</script>