<!-- TESTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
{% extends 'base.html' %} {% block title %} {{object.username}}'s profile {% endblock title %} {% block content %}
<div class="ui grid pt-100">
    <div class="five wide column">
        <div class="ui cards">
            <div class="card">
                <div class="image">
                    <img class="profile-list-avatar" src="{{object.avatar.url}}">
                </div>
                <div class="content">
                    <div class="header"><a href="{{ object.get_absolute_url}}">{{object.first_name}} {{object.last_name}} <span class="small_text">@{{object.username}}</span></a>
                    </div>

                    <div class="description">
                        {{object.bio}}
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                  Joined 20{{object.created_str}}
                </span>
                    <span>
                  <i class="user icon"></i>
                  {{object.get_friends_no}} Friends |
                  <i class="sticky note icon"></i>
                  {{object.get_posts_no}} Posts
                </span>
                </div>
                <div class="extra content">
                    <span>
                        {% if object.username not in rel_receiver and request.user not in rel_sender %}
                            <form class="send_invite" action="{% url 'perfil:send_invite' %}" method="POST">
                                <!-- Enviar pedido -->
                                {% csrf_token %}
                                <input id="profile-key" type="hidden" name="profile_pk" value="{{object.pk}}">
                                <button type="submit" class="ui positive basic button max-content-width">Add Friend&nbsp;&nbsp;&nbsp;<i class="user plus icon "></i></button>
                            </form>
                            {% endif %} {% if object.username in rel_receiver and request.user not in object.friends.all %}
                            <!-- Pedido enviado por nós ainda em espera -->
                            <button type="submit" class="ui disabled basic button max-content-width">Waiting for approval&nbsp;&nbsp;&nbsp;<i class="user plus icon "></i></button> {% endif %} {% if request.user in object.friends.all %}
                            <form action="{% url 'perfil:remove_friend' %}" method="POST">
                                <!-- Remover amizade -->
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{object.pk}}">
                                <button type="submit" class="ui basic negative button max-content-width">Remove Friend&nbsp;&nbsp;&nbsp;<i class="user times icon "></i></button>
                            </form>
                            {% endif %}
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="first">Posts</a>
            <a class="item" data-tab="second">Friends</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
            {% if posts %} {% for post in posts %}
            <div class="ui fluid card ">
                <div class="content">
                    <div class="right floated meta">{{ post.created|timesince}} ago</div>
                    {% ifequal request.user post.author.username %}
                    <a style="text-decoration:none; color: black;" href="{% url 'perfil:my-profile-view' %}">
                        <img class="ui avatar image" src="{{post.author.avatar.url}}"> {{post.author.username}}</a>
                    {% else %}
                    <a style="text-decoration:none; color: black;" href={{ post.author.get_absolute_url }}>
                        <img class="ui avatar image" src="{{post.author.avatar.url}}"> {{post.author.username}}</a>
                    {% endifequal %}

                </div>
                <div class="ui image">
                    {% if post.image %}
                    <img src={{post.image.url}}> {% endif %}
                </div>
                <div class="content">
                    <h4>{{post.content}}</h4>

                </div>
                <div class="content">
                    <span class="right floated">
                        <form action="{% url 'posts:like-post-view' %}" method="POST" class='like-form' id='{{post.id}}'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{post.id}}>
                            <div class="ui labeled button" tabindex="0">
                                <button id="btnlike" class="ui button doslikes like-btn{{post.id}}">
                                    
                                    {% if profile not in post.liked.all %} Like {% else %} Unlike {% endif %}
                                </button>
                                <a class="ui basic label">
                                    <div class="like-count{{post.id}}"> {{post.num_likes}} </div>
                                </a>
                            </div>
                        </form>
                </span>
                    <div class="ui left labeled button cmt_btn" tabindex="0">
                        <a class="ui basic label">
                      {{post.num_comments}}
                        </a>
                        <div class="ui icon button">
                            <i class="comment icon"></i>
                        </div>
                    </div>

                </div>
                <div class="content cmt-box" style="display: none;">
                    <div class="comment-box"> {% if post.comment_set.all %} {% for c in post.comment_set.all %}
                        <div class="ui comments">
                            <div class="comment">
                                <a class="ui avatar image">
                                    <img src="{{c.user.avatar.url}}">
                                </a>
                                <div class="content">
                                    <a class="author">{{ c.user }}</a>
                                    <div class="metadata">
                                        <div class="date">{{ c.created|timesince}} ago</div>
                                    </div>
                                    <div class="text">
                                        {{c.body}}
                                    </div>
                                </div>
                            </div>
                        </div>{% endfor %} {% endif %}
                    </div>
                </div>

                <div class="extra content">
                    <form action="{% url 'posts:detail-comment' %}" method="POST" class="ui action input form">
                        <!-- NOVO COMMENT -->
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{post.id}}>
                        <div class="ui large transparent left icon input">
                            <i class="comment outline icon"></i> {{c_form}}
                        </div>
                        <button type="submit" name="submit_c_form" class="ui icon button">Comment
                        </button>
                    </form>

                </div>
            </div>
            {% endfor %} {% else %}
            <h3>{{object.username}} doesn't have any posts yet</h3> {% endif %}
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            {% if friends_qs %} {% for friend in friends_qs %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <!-- avatar -->
                            <img class="ui small circular image fullpc" src={{friend.avatar.url}}>
                        </div>
                        <div class="thirteen wide column">
                            <!-- botões -->
                            <h3>{{friend.username}}</h3>
                            <p>{{friend.bio}}</p>
                            <p>friends:{{friend.get_friends_no}}</p>
                            <a href={{ friend.get_absolute_url }}><button class="ui primary button">See Profile</button></a>

                            <br>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <h3>{{object.username}} has no friends</h3>
            {% endif %}
        </div>

    </div>
</div>

<script>
    $('.menu .item')
        .tab();

    $(document).ready(function() {
        let display = false
        $(".cmt_btn").click(function() {
            if (display === false) {
                $(".cmt-box").show();
                $(".comment-box").show("slow");
                display = true
            } else {
                $(".comment-box").hide("slow");
                $(".cmt-box").hide("slow");
                display = false
            }
        });

        $('.like-form').submit(function(e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)


            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function(response) {
                    if (trim === 'Unlike') {
                        $(`.like-btn${post_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${post_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res)
                },
                error: function(response) {
                    console.log('error', response)
                }
            })
        })

    });
</script>


{% endblock content %}>