<!-- TESTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
{% extends 'base.html' %} {% block title %} my profile {% endblock title %} {% block content %}
<div class="ui grid">
    <div class="five wide column">
        <div class="ui card">
            <div class="image">
                <img src="{{object.avatar.url}}" class="profile-pic-personal-page">
            </div>
            <div class="content">
                <p class="header">{{object.first_name}} {{object.last_name}} <span class="small_text">@{{object.username}}</span></p>
                <div class="meta">
                    <span class="date">Joined 20{{object.created_str}}</span>
                </div>
                <div class="description">
                    {{object.bio}}
                </div>
            </div>
        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="first">Posts</a>
            <a class="item" data-tab="second">Friends</a>
            <a class="item" data-tab="third">Something Else</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
            {% if posts %} {% for post in posts %}
            <div class="ui fluid card">
                <div class="ui fluid image">
                    {% if post.image %}
                    <img src={{post.image.url}}> {% endif %}
                </div>
                <div class="content">
                    <p> {{ post.content }} </p>
                    <div class="right floated">
                        <form action="{% url 'posts:like-post-view' %}" method="POST" class='like-form' id='{{post.id}}'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{post.id}}>

                            <button type="submit" class="ui button like-btn{{post.id}}">
                                    {% if profile not in post.liked.all %}
                                        Like
                                    {% else %}
                                        Unlike
                                    {% endif %}
                                </button>
                            <div class="ui grid">
                                <div class="column">
                                    <div class="like-count{{post.id}}"> {{post.num_likes}} </div>
                                </div>
                                <div class="column">
                                    likes
                                </div>
                            </div>
                        </form>
                    </div>
                    <i class="comment icon"></i>
                    <span> {{ post.num_comments }} comments</span>
                </div>
                <div class="extra content">
                    <div class="mb-5">

                    </div>
                    <button class="cmt_btn ui button mb-5">show / hide comments</button>
                    <div class="comment-box">
                        {% if post.comment_set.all %} {% for c in post.comment_set.all %}

                        <div class="ui segment mb-5">
                            <img class="ui avatar image" src={{c.user.avatar.url}}>
                            <span>{{ c.user }}</span>
                            <div class='mt-5'>{{ c.body }}</div>
                        </div> {% endfor %} {% endif %}
                    </div>

                    <form action="" method="POST" class='ui fluid form'>
                        <!-- NOVO COMMENT -->
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{post.id}}> {{ c_form }}
                        <button type="submit" name="submit_c_form" class="ui primary button mt-10 w-full"><i class="paper plane outline icon"></i>Send</button>
                    </form>
                </div>
            </div>
            {% endfor %} {% else %}
            <h3>{{object.username}} doesn't have any posts yet</h3> {% endif %}
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            {% if friends_qs %} {% for friend in friends_qs %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <!-- avatar -->
                            <img class="ui small circular image fullpc" src={{friend.avatar.url}}>
                        </div>
                        <div class="thirteen wide column">
                            <!-- botões -->
                            <h3>{{friend.username}}</h3>
                            <p>{{friend.bio}}</p>
                            <p>friends:{{friend.get_friends_no}}</p>
                            <a href={{ friend.get_absolute_url }}><button class="ui primary button">See Profile</button></a>

                            <br>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <h3>{{object.username}} has no friends</h3>
            {% endif %}
        </div>
        <div class="ui bottom attached tab segment" data-tab="third">
            Third
        </div>
    </div>
</div>

<script>
    $('.menu .item')
        .tab();

    $(document).ready(function() {
        let display = false
        $(".cmt_btn").click(function() {
            if (display === false) {
                $(this).next(".comment-box").show("slow");
                display = true
            } else {
                $(this).next(".comment-box").hide("slow");
                display = false
            }
        });

        $('.like-form').submit(function(e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function(response) {
                    if (trim === 'Unlike') {
                        $(`.like-btn${post_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${post_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res)
                },
                error: function(response) {
                    console.log('error', response)
                }
            })
        })

    });
</script>


{% endblock content %}>