{% extends 'base.html' %} {% block title %} my profile {% endblock title %} {% block content %}

<!-- MODAL SETTINGS FORM INICIO -->
<div class="ui modal update mymodal">
    <i class="close icon"></i>
    <div class="header">
        Update your profile
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="{{profile.avatar.url}}">
        </div>
        <div class="description">
            <div class="ui header">Provide some more information about you :)</div>
            <form action="" class="ui form" enctype="multipart/form-data" method="POST">
                {% csrf_token %} {{form.as_p}}
        </div>
    </div>
    <div class="actions">
        <button class="ui positive right labeled icon button" type="submit" name="update_profile">
                    Update
                    <i class="checkmark icon"></i>
                </button>
        </form>
    </div>
</div>
<!-- MODAL SETTINGS FORM FIM -->


<!-- FRIEND LIST POPUP -->
<div class="ui modal friendlist">
    <div class="header">
        {{profile.username}}'s friendlist
    </div>
    <div class="ui grid">
        <div class="row">
            <div class="ten wide column">
                <table class="ui table">
                    <tbody>
                        {% for friend in profile.get_friends %}
                        <tr>
                            <td>{{friend}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui negative right labeled icon button mb-7" type="submit">
            Close
            <i class="checkmark icon"></i>
        </button>
        </form>
    </div>
</div>

<!-- FRIEND LIST POPUP FIM -->

<div class="ui grid pt-100">
    <div class="five wide column">
        <div class="ui card">
            <div class="image">

                <img src="{{profile.avatar.url}}" class="profile-pic-personal-page">
            </div>
            <div class="content">
                <p class="header">{{profile.first_name}} {{profile.last_name}} <span class="small_text">@{{profile.username}}</span><a class="update_account right"><i class="cogs icon"></i></a></p>
                <div class="meta">
                    <span class="date">Joined 20{{profile.created_str}}</span>
                </div>
                <div class="description">
                    {{profile.bio}}
                </div>
            </div>
        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="first">Posts</a>
            <a class="item" data-tab="second">Friends<div class="floating ui teal label">{{profile.get_friends_no}}</div></a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
            {% if no_posts == True %}
            <h3>You haven't posted anything yet, take your first step in here and share something with the community!</h3>
            {% else %} {% for post in user_posts %}
            <div class="ui fluid card ">
                <div class="content">
                    <div class="right floated meta">{{ post.created|timesince}} ago</div>
                    {% ifequal request.user post.author.username %}
                    <a style="text-decoration:none; color: black;" href="{% url 'perfil:my-profile-view' %}">
                        <img class="ui avatar image" src="{{post.author.avatar.url}}"> {{post.author.username}}</a>
                    {% else %}
                    <a style="text-decoration:none; color: black;" href={{ post.author.get_absolute_url }}>
                        <img class="ui avatar image" src="{{post.author.avatar.url}}"> {{post.author.username}}</a>
                    {% endifequal %}

                </div>
                <div class="ui image">
                    {% if post.image %}
                    <img src={{post.image.url}}> {% endif %}
                </div>
                <div class="content">
                    <h4>{{post.content}}</h4>

                </div>
                <div class="content">
                    <span class="right floated">
                            <form action="{% url 'posts:like-post-view' %}" method="POST" class='like-form' id='{{post.id}}'>
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{post.id}}>
                                <div class="ui labeled button" tabindex="0">
                                    <button id="btnlike" class="ui button doslikes like-btn{{post.id}}">
                                        
                                        {% if profile not in post.liked.all %} Like {% else %} Unlike {% endif %}
                                    </button>
                                    <a class="ui basic label">
                                        <div class="like-count{{post.id}}"> {{post.num_likes}} </div>
                                    </a>
                                </div>
                            </form>
                    </span>
                    <div class="ui left labeled button cmt_btn" tabindex="0">
                        <a class="ui basic label">
                      {{post.num_comments}}
                        </a>
                        <div class="ui icon button">
                            <i class="comment icon"></i>
                        </div>
                    </div>

                </div>

                {% if post.num_comments != 0 %}
                <div class="content cmt-box" style="display: none;">
                    <div class="comment-box"> {% if post.comment_set.all %} {% for c in post.comment_set.all %}
                        <div class="ui comments">
                            <div class="comment">
                                <a class="ui avatar image">
                                    <img src="{{c.user.avatar.url}}">
                                </a>
                                <div class="content">
                                    <a class="author">{{ c.user }}</a>
                                    <div class="metadata">
                                        <div class="date">{{ c.created|timesince}} ago</div>
                                    </div>
                                    <div class="text">
                                        {{c.body}}
                                    </div>
                                </div>
                            </div>
                        </div>{% endfor %} {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="extra content">
                    <form action="" method="POST" class="ui action input form">
                        <!-- NOVO COMMENT -->
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{post.id}}>
                        <div class="ui large transparent left icon input">
                            <i class="comment outline icon"></i> {{c_form}}
                        </div>
                        <button type="submit" name="submit_c_form" class="ui icon button">Comment
                        </button>
                    </form>

                </div>
            </div>

            {% endfor %} {% endif %}

        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            {% if no_friends == True %}
            <h3>You don't have friends yet! <a href="{% url 'perfil:invite-profiles-view' %}" class="ui positive basic button">Invite some</a></h3>
            {% else %} {% for friend in friendlist %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="four wide column">
                            <!-- avatar -->
                            <img class="ui small circular image fullpc profile-pic" src={{friend.avatar.url}}>
                        </div>
                        <div class="twelve wide column">
                            <!-- botões -->
                            <h3>{{friend.username}}</h3>
                            <p>{{friend.bio}}</p>
                            <p>friends:{{friend.get_friends_no}}</p>
                            <a href={{ friend.get_absolute_url }}><button class="ui primary button">See Profile</button></a>

                            <br>{% if request.user in friend.friends.all %}
                            <form action="{% url 'perfil:remove_friend' %}" method="POST">
                                <!-- Remover amizade -->
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{friend.pk}}">
                                <button class="mt-10 ui negative basic button"><i class="minus square icon"></i>Remove friendship</button>
                            </form>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %}
        </div>
    </div>
</div>

<script>
    $('.menu .item')
        .tab();

    $(document).ready(function() {
        let display = false
        $(".cmt_btn").click(function() {
            if (display === false) {
                $(".cmt-box").show();
                $(".comment-box").show("slow");
                display = true
            } else {
                $(".comment-box").hide("slow");
                $(".cmt-box").hide("slow");
                display = false
            }
        });

        $('.like-form').submit(function(e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function(response) {
                    if (trim === 'Unlike') {
                        $(`.like-btn${post_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${post_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res)
                },
                error: function(response) {
                    console.log('error', response)
                }
            })
        })

    });
</script>


{% endblock content %}>