{% extends 'base.html' %} {% block title %} All Profiles {% endblock title %} {% block content %} {% if is_empty %}
<h1>There are no profile for you to iteract with. Sorry.</h1>
{% endif %}

<!-- request.user = utilizador logado -->
<!-- obj.user = todos os utilizadores excepto o utilizador logado -->
<div class="ui grid mt-100">
    <div class="ui centered cards">
        {% for obj in object_list %}

        <div class="card">
            <div class="image">
                <img class="profile-list-avatar" src="{{obj.avatar.url}}">
            </div>
            <div class="content">
                <div class="header"><a href="{{ obj.get_absolute_url}}">{{obj.first_name}} {{obj.last_name}} <span class="small_text">@{{obj.username}}</span></a>
                    <div class="right floated meta">
                        {% if obj.username not in rel_receiver and request.user not in rel_sender %}
                        <form class="send_invite" action="{% url 'perfil:send_invite' %}" method="POST">
                            <!-- Enviar pedido -->
                            {% csrf_token %}
                            <input id="profile-key" type="hidden" name="profile_pk" value="{{obj.pk}}">
                            <button type="submit" class="ui positive basic button"><i class="user plus icon "></i></button>
                        </form>
                        {% endif %} {% if obj.username in rel_receiver and request.user not in obj.friends.all %}
                        <!-- Pedido enviado por nós ainda em espera -->
                        <button type="submit" class="ui disabled basic button"><i class="user plus icon "></i></button> {% endif %} {% if request.user in obj.friends.all %}
                        <form action="{% url 'perfil:remove_friend' %}" method="POST">
                            <!-- Remover amizade -->
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                            <button type="submit" class="ui basic negative button"><i class="user times icon "></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>

                <div class="description">
                    {{obj.bio}}
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
              Joined 20{{obj.created_str}}
            </span>
                <span>
              <i class="user icon"></i>
              {{obj.get_friends_no}} Friends |
              <i class="sticky note icon"></i>
              {{obj.get_posts_no}} Posts
            </span>
            </div>
        </div>

        {% endfor %}</div>
</div> {% endblock content %} {% block scripts %}
<script>
</script>

{% endblock scripts %}