body {
    background: #F8F8F1 !important;
}

.nav {
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
    background-color: rgb(51, 51, 51) !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.w-small {
    width: 3%;
}

.mymodal {
    height: 300px !important;
    top: 200px !important;
    font-size: 20px !important;
}

.max-content-width {
    width: 100%;
}

.down {
    margin-top: 5vh;
}

.small_text {
    font-size: 1rem;
    color: darkgrey;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.bwhite-lg {
    background-color: transparent !important;
}

.bwhite-sm {
    background-color: transparent !important;
    width: 10px !important;
}

.comment-box {
    display: none;
}

.fullpc {
    width: 100% !important;
    height: 100% !important;
}