body {
    background: #F8F8F1 !important;
}

.nav {
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-120 {
    padding-top: 120px !important;
}

.pt-150 {
    padding-top: 150px !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.w-small {
    width: 3%;
}

.mymodal {
    height: 300px !important;
    top: 200px !important;
    font-size: 20px !important;
}

.max-content-width {
    width: 100%;
}

.down {
    margin-top: 5vh;
}

.small_text {
    font-size: 1rem;
    color: darkgrey;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.bwhite-lg {
    background-color: transparent !important;
}

.bwhite-sm {
    background-color: transparent !important;
    width: 10px !important;
}

.comment-box {
    display: none;
}

.post_form {
    width: 15px !important;
}

.post_profile_stats {
    position: fixed !important;
    height: 85vh !important;
}

.fixed {
    position: fixed !important;
}

.profile-pic {
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
}

.profile-pic-personal-page {
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
}

.post-user-image {
    width: 10% !important;
    max-width: 10% !important;
    object-fit: cover !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 60px !important;
    border-radius: 3px !important;
}

.m0 {
    margin: 0 !important;
}

.p0 {
    padding: 0 !important;
}

.mini-avatar-image {
    min-height: 80px;
    min-width: 80px;
    object-fit: cover !important;
}