{% load static %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <!-- MAIN TEMPLATE -->

    <div class="ui inverted vertical center aligned segment">
        <nav class="ui container">
            <h1 class="ui inverted header">Timelines</h1>
        </nav>
        <br>
        <div class="ui content container">

            <p>Timelines is a brand-new coding based social network.</p>
            <p>From coders, to coders.</p>
            <p>Beta. Give it a try.</p>
            <div class="ui center aligned basic segment">
                <span class="login_modal"><div class="ui grey labeled icon button">
                        Log In
                        <i class="sign in icon"></i>
                    </div>
                </span>
                <div class="ui horizontal divider"><span class="ui white">Or</span></div>
                <span class="signup_modal"><div class="ui teal labeled icon button">
                    Sign Up
                    <i class="user icon"></i>
                </div>
            </span>
            </div>
        </div>
        <footer class="ui inverted vertical segment">
            Projeto de Aptidão Profissional 2020/2021 @Timelines
        </footer>
    </div>


    <!-- LOGIN MODAL FORM -->
    <div class="ui modal login mymodal">
        <div class="header">Log In</div>
        <div class="image content">
            <div class="description">
                <div class="ui header">Make sure you keep your account safe!</div>
                <form action="{% url 'login' %}" method="POST" name="login_form" class="ui form">
                    {% csrf_token %}
                    <div class="field">
                        <input name="username" id="username" type="text" placeholder="Username">
                    </div>
                    <div class="field">
                        <input name="password" id="password" type="password" placeholder="Password">
                    </div>
                    <button type="submit" class="ui positive basic button">Log In</button>
                </form>
            </div>
        </div>
    </div>

    <!-- SIGNUP MODAL FORM -->
    <div class="ui modal signup mymodal">
        <div class="header">Sign Up</div>
        <div class="image content">
            <div class="description">
                <div class="ui header">Dont share this details!</div>
                <form action="" method="POST" class="ui form">
                    {% csrf_token %}
                    <div class="field">
                        {{uc_form.username}}
                    </div>
                    <div class="field">
                        {{uc_form.password1}}
                    </div>
                    <div class="field">
                        {{uc_form.password2}}
                    </div>

                    <button type="submit" name="user_registration" class="ui positive basic button">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Error Modal -->
    <div class="ui modal error mymodal">
        <div class="header">OOPS</div>
        <div class="image content">
            <div class="description">
                <div class="ui header center">Make sure you spelled everything right</div>
                <div class="ui bulleted list center" style="color: red;">
                    <div class="item">>150 chars, letters, digits and @/./+/-/_ only.</div>
                    <div class="item">Your password must be at least 8 chars.</div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    $(document).ready(function() {
        var r_error = "{{r_error}}"
        console.log(r_error)

        if (r_error == "True") {
            $('.ui.modal.error').modal('show');
        }
    });
</script>

</html>